/* bubbles chart section */

.cybermap-bubble_chart_wrapper {
    display: flex;
}

.cybermap-bubble_chart_wrapper svg {
    overflow: visible!important;
}

.cybermap-bubble_chart_wrapper .cybermap-bubble_desc {
    padding-top: 50px;
    float: left;
}

.cybermap-bubble_chart_wrapper .cybermap-bubble_desc p {
    color: #fff;
    font-size: 14px;
    text-align: left;
}

.cybermap-bubble_chart_wrapper .cybermap-bubble_desc span {
    font-size: 32px;
    display: block;
}

.cybermap-bubble_chart_wrapper .cybermap-bubble_desc {
    width: 30%;
}

.cybermap-bubble_chart_wrapper .cybermap-bubble_chart {
    width: 70%;
}

.section {
    padding: 50px 0;
    min-height: 500px;
}

.section-3 {
    position: relative;
}

.section .section-title {
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-bottom: 15px;
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    z-index: 297497492;
}

.cybermap-list_btn {
    background-color: transparent;
    outline: none;
    padding: 4px 10px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 30px;
    min-width: 70px;
    margin: 4px;
    cursor: pointer;
}

.cybermap-list_btn.active,
.cybermap-list_btn:focus {
    background-color: #2ab7a9;
    border-color: #2ab7a9;
}


.logo-wrappers img {
    height: 90px;
    width: 100%;
    object-fit: contain;
}

.common-chart_wrapper {
    height:800px;
}

.cybermap_box {
    padding: 10px;
    border:1px solid rgba(255,255,255,.4);
    border-radius: 5px;
    margin-bottom: 30px;
}

.cybermap_box span {
    color: #fff;
    display: block;
    text-align: left;
}

.cybermap_box img {
    width: 100%;
    height: 60px;
    margin-top: 20px;
    object-fit: contain;
}

.cybermap_box span:last-child {
    font-size: 32px;
}

.cybermap_box_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.recharts-tooltip-wrapper  {
    display: none;
}


.tooltip-modal_custom {
    width: 400px;
    min-height: 400px;
    background-color: #fff;
    padding: 20px;
    padding-top: 25px;
    border-radius: 10px;
    position: absolute;
    z-index: 297497497;
}

.tooltip-modal_custom img {
    height: 50px;
    width: 100%;
    object-fit: contain;
}

.tooltip-modal_custom .close {
    float: right;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}