.clear {
    clear: both;
}

.pre-wrap {
    white-space: pre-wrap;
}

.no-uppercase {
    text-transform: none;
}

.valign-middle {
    vertical-align: middle;
}

.align-justify {
    text-align: justify;
}

.left-align {
    text-align: left;
}

.center-align {
    text-align: center;
}

.bordered-text {
    border-bottom: 1px solid #fff;
}

.fullwidth {
    width: 100%;
}

.fullheight {
    height: 100%;
}

.cursor-default {
    cursor: default;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}

.inline-block {
    display: inline-block;
}

.no-hover:hover {
    background-color: inherit;
}

.no-focus:focus {
    background-color: inherit;
}

.turquoise-hover:hover {
    background-color: #00BEC1;
}

.turquoise-focus:focus {
    background-color: #00BEC1;
}

.opacity-04 {
    opacity: 0.4;
}

.opacity-08 {
    opacity: 0.8;
}

.font-lighter {
    font-weight: lighter;
}

.valign-top {
    vertical-align: top;
}

.bold {
    font-weight: bold;
}

.font-18 {
    font-size: 18px;
}

.font-15 {
    font-size: 15px;
}

.font-14 {
    font-size: 14px;
}

.font-13 {
    font-size: 13px;
}

.font-12 {
    font-size: 12px;
}

.font-8 {
    font-size: 8px;
}

.vertical-line {
    margin: 0px 20px;
    height: 20px;
    border-right: 1px solid #FFFFFF;
}

.turquoise-text {
    color: #00BEC1;
}

.turquoise-background {
    background-color: #00BEC1;
}

.weight-200 {
    font-weight: 200;
}

.white-text {
    color: #FFFFFF;
}

.background-white {
    background-color: #FFFFFF;
}

.companies-view {
    min-height: calc(100vh - 329px);
}

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0;
    padding: 0;
}

.background-dark-grey {
    background: linear-gradient(to bottom right, #15181b, #23282d)
}

.outline-0 {
    outline: 0;
}

.no-margin {
    margin: 0;
}

.bolder {
    font-weight: bolder;
}

@media only screen and (min-width: 993px) {
    .container {
        width: 80%;
    }
}

.careers-view {
    position: relative;
    float: left;
    min-height: 100vh;
    width: 100%;
    text-align: center;
    overflow-x: hidden;
}

.careers-view .container-fluid {
    max-width: 1200px;
    padding: 20px;
    margin: auto;
}

.careers-view h1, .careers-view h2, .careers-view h3, p {
    color: whitesmoke;
}

.careers-view h1 {
    font-size: 2.28rem;
    font-weight: 100;
}

.careers-view h2 {
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 1.75rem;
}

.careers-view p {
    font-size: 15px;
}

.airtable-embed {
    background: transparent;
    border: 1px solid #ccc;
}

.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    margin-bottom: -6px;
    margin-left: 6px;
}

.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 2px;
    box-sizing: border-box;
    border: 8px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}
